In [7]:
import pandas as pd
from datetime import date
import yfinance as yf

In [2]:
df = pd.read_excel("Stock_monitoring_list1.xlsx")
df.head()

,Stock code,Name,English Name,Sector,52 week peak/bottom,sharp increase in volume,Volatity (SD),Upper bound,Lower bound,Current price,Sharp increase,Sharp decrease,EMA cross over up,EMA cross over down,MACD cross over up,MACD cross over down,Reach RSI max,Reach RSI min
0,0001.HK,長和,CK Hutchison Holdings,工商,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0002.HK,中電控股,CLP Holdings,公用,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0003.HK,香港中華煤氣,Hong Kong and China Gas,公用,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0005.HK,匯豐控股,HSBC Holdings plc,銀行,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0006.HK,電能實業,Power Assets Holdings,公用,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(50, 18)

In [4]:
len(list(df["Stock code"]))

50

In [19]:
def read_stock_xlsx():
    df = pd.read_excel("Stock_monitoring_list1.xlsx")
    return list(df["Stock code"])

In [9]:
today = date.today()
d1 = today.strftime("%Y-%m-%d")
print(d1)

2020-12-15

In [10]:
df1=yf.download(list(df["Stock code"])[0],"2019-01-01",d1)

[*********************100%***********************]  1 of 1 completed

In [11]:
df1.head()

                 Open       High        Low      Close  Adj Close   Volume
Date
2019-01-02  75.250000  75.449997  74.099998  74.400002  67.534744  5818879
2019-01-03  74.000000  74.449997  73.150002  73.349998  66.581635  6464132
2019-01-04  72.800003  75.250000  72.800003  75.250000  68.306305  6218655
2019-01-07  76.800003  76.949997  75.400002  75.800003  68.805557  4371572
2019-01-08  76.500000  77.800003  75.949997  77.349998  70.212524  7733797

In [13]:
df1.tail()

                 Open       High        Low      Close  Adj Close   Volume
Date
2020-12-08  55.299999  56.400002  55.299999  55.950001  55.950001  7438449
2020-12-09  55.450001  56.450001  55.450001  55.799999  55.799999  8305680
2020-12-10  55.750000  56.299999  55.450001  55.849998  55.849998  6864142
2020-12-11  55.950001  56.950001  55.599998  55.700001  55.700001  5105821
2020-12-14  56.000000  56.000000  55.049999  55.049999  55.049999  4064629

In [12]:
re = 100*(df1["Close"][-1] - df1["Close"][0])/df1["Close"][0]
print(re)

-26.008067059095094

In [14]:
df1["Close"][-1]

55.04999923706055

In [15]:
df1["Close"][0]

74.4000015258789

In [16]:
def get_return(index_list):
    today = date.today()
    d1 = today.strftime("%Y-%m-%d")
    re_list = []
    for i in index_list:
        df1=yf.download(i,"2019-01-01",d1)
        re = 100*(df1["Close"][-1] - df1["Close"][0])/df1["Close"][0]
        re_list.append(re)
    return re_list

In [17]:
get_return(list(df["Stock code"]))

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[-26.008067059095094,
 -18.796563353442874,
 -20.713309252656206,
 -34.67614696287119,
 -23.551399017048773,
 -20.8670555511651,
 -10.418234745276017,
 -3.21691167447394,
 264.89150638308115,
 -43.76956495443049,
 28.08870851184264,
 5.061726511260609,
 -18.84498154248851,
 36.0768193169154,
 6.4885528137215545,
 72.95840951217426,
 -53.04054162901103,
 12.26252232857951,
 -36.76470549564461,
 74.68467918602195,
 -29.52755949857756,
 86.23613458351221,
 -46.22056608786,
 -11.508951855786876,
 -48.43537399960698,
 -47.9481635796525,
 -36.48409672212356,
 -8.133967361979408,
 -39.78201656119081,
 -31.73241894013575,
 -7.280704431366503,
 -13.66906861469317,
 31.056179089492627,
 11.150441127540791,
 -22.612611237946933,
 104.02436103095657,
 42.97060986373441,
 -13.07550756155744,
 5.030492573958899,
 -12.745102602055615,
 11.955314763145122,
 -5.069126003665273,
 59.446991970677814,
 38.49000566303219,
 77.98742173572882,
 128.24602359076042,
 -13.356769920931853,
 5.679012549176037,
 -30.369126362326153,
 -20.783127490244407]

In [20]:
index_list = read_stock_xlsx()
df = pd.DataFrame({"Stock code":read_stock_xlsx(), "Return":get_return(index_list)})

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [23]:
[df["Stock code"][i] for i in list(df["Return"].sort_values(ascending=False).iloc[:5].index)]

['0017.HK', '2382.HK', '1177.HK', '0700.HK', '2319.HK']

In [24]:
df.loc[list(df["Return"].sort_values(ascending=False).iloc[:5].index)]

   Stock code      Return
8     0017.HK  264.891506
45    2382.HK  128.246024
35    1177.HK  104.024361
21    0700.HK   86.236135
44    2319.HK   77.987422