In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
'data': range(6)}, columns=['key', 'data'])
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [6]:
type(df.groupby("key").sum())

pandas.core.frame.DataFrame

In [7]:
rng = np.random.RandomState(0)
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', "C"], \
                   "data1": range(6), "data2": rng.randint(0, 10, 6)},columns = ["key", "data1", "data2"])
print(df1)

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [8]:
df1.groupby("key").sum()

     data1  data2
key
A        3      8
B        5      7
C        7     12

In [9]:
df1.groupby("key").aggregate({"data1":np.median,"data2":max})

     data1  data2
key
A      1.5      5
B      2.5      7
C      3.5      9